nav{
    background-color: rgb(237, 113, 41);
    padding: 10px;
    text-align: center;
    font-size: 23px;
    font-weight:bold ;
    border-radius: 20px;
    
}
nav a{
    text-decoration: none;
    margin-left:40px ;
    
    color: azure;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


    .monkay{
        display: flex;
       
    }
    .cat{
        margin-left: 40%;
        
    }
    h1{
        color: rgb(250, 58, 167);
    }
img{
    position: relative;
   height: 400px;
   transform: scaleX(4.1) ;
   border: 40px;
   
}
.paragraphs{
    position: relative;
    display: flex;
    margin-left: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100px;
}
.keyframes{
    background-color: rgb(242, 100, 100);
    position: relative;
    animation:mymove 22s infinite ;
    display: flex;
    justify-content: center;
    top: 20px;
    font-size: 20px;
}
@keyframes mymove{
    0%{ top: 0px;left:-1000px;}
    100%{top:0px;left:1400px;}
}
h2{
    color: rgb(241, 241, 250);
}
.one{
    display: block;
    color: aliceblue;
    margin-left: 100px;
}
.two{
    display: block;
    margin-left: 100px;
    color: aliceblue;
}
.three{
    display: block;
    margin-left: 100px;
    color: aliceblue;
}
.four{
    display: block;
    margin-left: 100px;
    color: aliceblue;
}
footer{
    background-color:rgb(11, 9, 44) ;
}
.five{
    display: flex;
}
.six{
    color: aliceblue;
    text-align: center;
}


@media(min-width:260px) and (max-width:480px){
    .paragraphs p{
        color:blueviolet ;
    }
    .paragraphs{
        display: block;
    }
    nav{
        margin-bottom: 10px;
    }
}
@media(min-width:481px) and(max-width:767px){
    .paragraphs{
        display: block;
    }
    .paragraphs p{
        color: blue;
    }
    nav{
        margin-bottom: 1opx;
    }
}